node_modules
npm-debug.log
dist
.env*
.git
.gitignore
README.md
.env
.nyc_output
coverage
.coverage
.DS_Store
*.log
.vscode
.idea
tests/
.dockerignore
Dockerfile
docker-compose*.yml
.eslintrc*
.prettierrc*
tsconfig.json
ts-errors.txt
nodemon.json
scripts/
notes/
update.md
feature.md
endpoint_final.md
usecase_final.mdj
swagger.yaml
